@model ExpenseInputModel
@{
}
<h1>Expense Tracker</h1>

<form asp-controller="Home" asp-action="Index" method="post">
    <div>
        <input asp-for="ExpenseName" value="" placeholder="Scrivi il nome della spesa" />
        <input asp-for="Price" value="" placeholder="0,00" />
        <button type="submit">Registra</button>
    </div>
</form>


@if(Model !=null && Model.ExpenseName != null)
{
    <div>
        <table>
            <tr>
                <th>Spese</th>
                <th>Prezzo</th>
            </tr>
            <tr>
                <td>@Model.ExpenseName</td>
                <td>@Model.Price.ToString("0.00")</td>
            </tr>
@*             @foreach (var expense in Model.ExpenseName)
            {
                <tr>
                    <td>@expense.ExpenseName</td>
                    <td>@expense.Price.ToString("0.00")</td>
                </tr>
            } *@
        </table>
    </div>
}
